@font-face {
  font-family: 'emojifont';
  src: url('./assets/Gotham Ultra.otf') format('truetype');
}

*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
    font-family: gotham system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-areas: 
      "navbar"
      "main"
      "footer";
    grid-template-rows: 65px 1fr 50px ;
    height: 100vh;
    background-color: rgba(135, 135, 135, 0.245);
  }

  .navbar{
    grid-area: navbar ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(7,141,233),rgba(0, 14, 72, 0.827));
    
  }

  .tittle{
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    margin: 0;
    color: white;
    font-family: 'emojifont';
  }

  .welcome{
    text-transform: capitalize;
    font-size: 1.3rem;
    display:flex ;
    align-self: center;
    justify-self: center;
    margin-bottom: 15px;
  }
  


  .main{
    grid-area:  main;
    display: flex;
    flex-direction: column;
    gap: 5;
    align-items: center;
   /*  justify-content: center */
    /* flex-wrap: wrap; */
  }    

  .points{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;  
  }

  .score{
    font-size: 1.3rem;
  }

  .attempts{
    font-size: 1rem;
  }

  .game{
    grid-area:  main;
    display: flex;
    gap: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
  }

  .footer{
    background-color: rgb(45, 96, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    
  }


/* CSS */
.reset {
  background: linear-gradient(steelblue, lightsteelblue);
  border-radius: 12px;
  /* color: #f4e603; */
  color: #f4e603;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 30%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset:not(:disabled):hover,
.reset:not(:disabled):focus {
  outline: 0;
  background: linear-gradient(rgb(68, 162, 239), rgb(141, 175, 219));
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.reset:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.card {
    width: 60px;
    height: 80px;
    perspective: 60px;
    margin: 1rem;
    
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    position: absolute;
    width: 60px;
    height: 80px;
    /* background: linear-gradient(steelblue, lightsteelblue); */
    background: linear-gradient(rgb(7,141,233),rgba(0, 14, 72, 0.827));
    display: grid;
    place-content: center;
    font-size: 2rem;
    border-radius: 1rem;
    backface-visibility: hidden;
    user-select: none;
  }
  
  .back {
    /* background: linear-gradient(steelblue, lightsteelblue); */
    background: linear-gradient(rgb(7,141,233),rgba(0, 14, 72, 0.827));
    transform: rotateY( 180deg );
  }
  
  .card.flipped .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  } 

  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      display: grid;
      grid-template-areas: 
      "navbar"
      "main"
      "footer";
    grid-template-rows: 100px 1fr 85px ;
    height: 100vh;
    background-color: rgba(135, 135, 135, 0.245);
    }

    .front,
  .back {
    position: absolute;
    width: 80px;
    height: 100px;
    display: grid;
    place-content: center;
  }
  .tittle{
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    margin: 0;
    color: white;
    font-family: 'emojifont';
  }

  .welcome{
    text-transform: capitalize;
    font-size: 2rem;
    display:flex ;
    align-self: center;
    justify-self: center;
    margin-bottom: 15px;
  }

  .score{
    font-size: 1.8rem;
  }

  .attempts{
    font-size: 1.5rem;
  }
  }
  
     @media (min-width: 1025px) {
      body {
        display: grid;
        grid-template-areas: 
        "navbar"
        "main"
        "footer";
      grid-template-rows: 100px 1fr 85px ;
      /* height: 100vh; */
      background-color: rgba(135, 135, 135, 0.245);
      }

      .main{
        display: grid;
        grid-template-areas: 
        "welcome"
        "puntuation"
        "game";
        grid-template-rows: 70px 50px 1fr;
      
      }
    
  
      .front,
    .back {
      position: absolute;
      width: 90px;
      height: 120px;
      display: grid;
      place-content: center;
      column-gap: 100px; 
    }
    .game{
      grid-area: game;
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      gap: 10;
       /* flex-wrap: wrap; */
        height: 100%;
      justify-items: flex;
      align-self: flex;
      padding: 10px;
    }
    .tittle{
      grid-area: welcome;
      text-transform: uppercase;
      font-size: 2.3rem;
      display: flex;
      margin: 0;
      color: white;
      font-family: 'emojifont';
    }
  
    .welcome{
      text-transform: capitalize;
      font-size: 2.3rem;
      display:flex ;
      align-self: center;
      justify-self: center;
      margin-bottom: 15px;
    }
  
    .score{
      grid-area: puntuation;
      font-size: 1.8rem;
    }
  
    .attempts{
      grid-area: puntuation;
      font-size: 1.5rem;
    }
  }
  
